langchain==0.0.266
openai==0.27.8
streamlit==1.24.0
duckduckgo-search==3.8.3
pypdf==3.12.0
sentence-transformers==2.2.2
docarray==0.32.1
duckdb==0.8.1
unstructured==0.7.12
chromadb==0.4.9
tiktoken==0.4.0
pysqlite3-binary==0.5.1
streamlit-extras==0.3.0